# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.ipch
*.tlog
*.ipdb
*.db
*.db-shm
*.db-wal
*.opendb
*.log
*.recipe
*.iobj
*.pdb
*.vsidx
*.id0
*.id1
*.id2
x64/Release/TestExe.exe.nam
x64/Release/TestExe.exe.til
*.idb
*.ilk
*.nam

.vs\
